:root {
  --heading-text-color: #2e2f42;
  --primary-text-color: #434455;
  --accent-color: #404bbf;
}
.link {
  text-decoration: none;
}
body {
  color: var(--primary-text-color);
  background-color: #fff;
}
/* Логотип */
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-web {
  color: #2e2f42;
}
.list {
  list-style: none;
}
/* .link:visited {
  color: var(--heading-text-color);
} */

.site-nav .link:hover {
  color: var(--accent-color);
}
.contacts a {
  font-style: normal;
  color: #434455;
}
.hero {
  background-color: #2e2f42;
  color: #fff;
}
.order-button {
  background-color: #4d5ae5;
  color: #fff;
}
.order-button:hover,
.order-button:focus {
  background-color: #fff;
  color: #4d5ae5;
}
.about-title {
  display: none;
}
.about .title,
.gallery-list .title {
  color: var(--heading-text-color);
}
.doing-title,
.team-title {
  color: var(--heading-text-color);
}
.team .title {
  color: var(--heading-text-color);
}
.footer {
  color: #fff;
  background-color: var(--heading-text-color);
}
.footer .link {
  color: #fff;
}
.button {
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #fff;
}
